.aws
.azure
.bash_history
.bashrc
.cache/
.docker/
.git-credentials
.gitconfig
.motd_shown
.profile
.terraform.d/
.terraform.lock.hcl
.terraform/
.text.sh.swp
.ssh/
ansible.cfg
hello_wsl.txt
hosts
install.yml
main.tf
snap/
terraform.tfstate
.viminfo
